body {
    padding: 0;
    margin: 0;
    background-color: white;
}

a{
    text-decoration: none;
}

.barra-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(70, 122, 255, 0.9);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor{
    position: relative;
}

.contenedor-izquierdo{
    position: absolute;
    display: flex;
    top: 0; 
    left: 0; 
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
    opacity: 0.8;
    flex-direction: column; 
    z-index: 1;
}

.imagen-fondo{
    width: 100%;
    height: auto;
}

.form-login-reg{
    width: 150px;
    height: 100px;
    background: rgba(70, 122, 255, 0.9);
    color: white;
}

.boton{
    padding: 20px 40px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

.boton:hover {
    background-color: #0056b3;
    scale: 1.03;
}

.formulario {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.registro {
    margin-top: 10px;
    font-size: 14px;
}

.registro a {
    color: #007BFF;
    text-decoration: none;
}

.registro a:hover {
    text-decoration: underline;
}

.titulo-registro{
    margin: 15px;
    text-align: center;
}
.titulo-reserva{
    margin-top: 20px;
}

.logo{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.calendar{
    width: 30px;
    height: 30px;
}

.input-huespedes{
    margin-top: 20px;
}



