{% extends './layout.html' %}

{% block title %}Habitaciones{% endblock %}

{% block body%}

<!-- Barra menu -->
<div class="container-fluid">
    <div class="barra-menu row row-cols-auto">
        <div class="col-6"></div>
        <div class="col text-center">
            <a href="{{ url_for('home') }}">
                <button class="boton">Inicio</button>
            </a>
        </div>
        <div class="col text-center">
            <a href="{{ url_for('habitaciones') }}">
                <button class="boton">Habitaciones</button>
            </a>
        </div>
        <div class="col text-center">
            <a href="{{ url_for('login') }}">
                <button class="boton">Inicio Sesión</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}