{% extends './layout.html' %}

{% block title %}Home{% endblock %}

{% block body%}
<!-- Barra menu -->
<div class="container-fluid">
    <div class="barra-menu row">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <img class="logo_home mx-auto" src="{{ url_for('static', filename='img/logo2_hotel.png') }}" alt="logo">
            </div>
            <div class="col-4"></div>
            <div class="btn-grupo col-xs-12 col-sm-12 col-md-12 col-6 text-center">
                    <!-- Botones -->
                    <div class="col-12 d-flex justify-content-center">
                        <a href="{{ url_for('home') }}">
                            <button class="boton">Inicio</button>
                        </a>
                        <a href="{{ url_for('mis_reservas') }}">
                            <button class="boton">Mis reservas</button>
                        </a>
                        <div class="dropdown">
                            <button class="boton dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="logo" src="{{ url_for('static', filename='img/logo_usuario.png') }}" alt="logo">
                                <small id="nombre"></small>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="#">Configuración</a></li>
                                <li><a class="dropdown-item" href="/" onclick="cerrarSesion()">Cerrar Sesión</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12"> <!-- Empuja los botones hacia la derecha en dispositivos móviles -->
                        
                    </div>
                    <div class="col-12"> <!-- Empuja los botones hacia la derecha en dispositivos móviles -->
                        
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Contenido del Home -->
<!-- Fondo Home -->
<div class="row">
    <div class="col">
        <div class="fondo-home">
            <img class="img-home" src="{{ url_for('static', filename='img/fondo_home.jpg') }}" alt="Fondo">
            <!-- Barra Sobre Imagen Home -->
            <div class="overlay-text">
                <h1>Bienvenido a Hotel Pacific Reef</h1>
            </div>
        </div>
    </div>
</div>
<!-- Botón para reservar -->
<div class="container-fluid fondo">
    <div class="row justify-content-center"> <!-- Centra horizontalmente -->
        <div class="col-12 col-md-4 col-sm-12 text-center mb-3 mx-auto">
            <a href="/reserva" class="btn_reserva">
                <h1>Reservar</h1>
            </a>
        </div>
        <!-- Botón Mis Reservas -->
        <div class="col-12 col-md-4 col-sm-12 text-center mb-3 mx-auto">
            <a href="/mis-reservas" class="btn_mis_reservas">
                <h1>Mis Reservas</h1>
            </a>
        </div>
        <!-- Botón Modificar o Editar Reserva -->
        <div class="col-12 col-md-4 col-sm-12 text-center mx-auto">
            <a href="/habitaciones">
                <div class="btn_mod_reserva">
                    <h1>Catálogo de Habitaciones</h1>
                </div>
            </a>
            
        </div>
    </div>
</div>

<script>
    var nombre = localStorage.getItem('nombre');
    document.getElementById('nombre').textContent = 'Bienvenido '+ nombre;

    function cerrarSesion(){
        // Se borran todos los datos
        localStorage.clear();
    }
</script>


{% endblock %}