{% extends './layout.html' %}

{% block title %}Home{% endblock %}

{% block body%}
<!-- Barra menu -->
<div class="barra-menu">
    <div class="boton">
        <div class="btn-menu">Inicio</div>
    </div>
    <div class="boton">
        <div class="btn-menu">Habitaciones</div>
    </div>
    <div class="boton">
        <div class="btn-menu">Inicio sesión</div>
    </div>
</div>
<!-- Contenido Ingreso -->
<div class="contenedor">
    <img class="imagen-fondo" src="{{ url_for('static', filename='img/marten-bjork-n_IKQDCyrG0-unsplash.jpg')}}" alt="Descripción de la imagen">
    <!-- Formulario Ingreso -->
    <div class="contenedor-derecho">
        <h1 class="titulo-bienvenida">{{ data.bienvenida }}</h1>
        <h2 class="titulo-ingreso">{{ data.titulo }}</h2>
        <button class="boton">Inicio Sesión</button>
        <button class="boton">Registrarse</button>
    </div>
</div>

{% endblock %}