{% extends './layout.html' %}

{% block title %}Login{% endblock %}

{% block body%}
<!-- Barra menu -->
<div class="container-fluid">
    <div class="barra-menu row row-cols-auto">
        <div class="col-6"></div>
        <div class="col text-center">
            <a href="{{ url_for('index') }}">
                <button class="boton">Inicio</button>
            </a>
        </div>
        <div class="col text-center">
            <a href="{{ url_for('habitaciones') }}">
                <button class="boton">Habitaciones</button>
            </a>
        </div>
        <div class="col text-center">
            <a href="{{ url_for('login') }}">
                <button class="boton">Inicio Sesión</button>
            </a>
        </div>
        
    </div>
</div>
<!-- Formulario inicio de sesión -->
<div class="container-fluid">
    <div class="formulario">
        <div class="col"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <h2 class="text-center">Iniciar Sesión</h2>
                <form action="/inicio-sesion" method="post">
                    <div class="campo">
                        <label for="email">Ingrese su email:</label>
                        <input type="text" id="email" name="email" required>
                    </div>
                    <div class="campo">
                        <label for="password">Ingrese contraseña:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button class="boton" type="submit">Iniciar Sesión</button>
                        </div>
                    </div>
                    
                </form>
                <p class="registro text-center">¿No tienes una cuenta? <a href="{{ url_for('registro')}}">Registrarse</a></p>
            </div>
            <div class="col"></div>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}