{% extends './layout.html' %} {% block title %}Reserva{% endblock %} {% block
body%}
<!-- Barra menu -->
<div class="container-fluid">
  <div class="barra-menu row">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 text-center">
        <img
          class="logo_home mx-auto"
          src="{{ url_for('static', filename='img/logo2_hotel.png') }}"
          alt="logo"
        />
      </div>
      <div class="col-4"></div>
      <div class="btn-grupo col-xs-12 col-sm-12 col-md-12 col-6 text-center">
        <!-- Botones -->
        <div class="col-12 d-flex justify-content-center">
          <a href="{{ url_for('home') }}">
            <button class="boton">Inicio</button>
          </a>
          <a href="{{ url_for('mis_reservas') }}">
            <button class="boton">Mis reservas</button>
          </a>
          <div class="dropdown">
            <button
              class="boton dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                class="logo"
                src="{{ url_for('static', filename='img/logo_usuario.png') }}"
                alt="logo"
              />
              <small>Bienvenido {{ usuario.nombre_usuario }}</small>
            </button>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownMenuButton"
            >
              <li><a class="dropdown-item" href="#">Configuración</a></li>
              <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <!-- Empuja los botones hacia la derecha en dispositivos móviles -->
        </div>
        <div class="col-12">
          <!-- Empuja los botones hacia la derecha en dispositivos móviles -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Formulario método de pago -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="titulo-reserva text-center">Forma de Pago</h1>
    </div>
  </div>
  <div class="container">
    <div class="row pt-4 pb-5">
        <div class="col"></div>
        <div class="col text-center">
          <div class="contenedor-credito-debito">
              <button id="credito" name="credito" class="btn btn-light btn-pago" data-valor="1" data-target="form-credito">
                  <img src="{{ url_for('static', filename='img/tarjeta-de-credito.png') }}" alt="credito" />
              </button>
              <div class="text-bajo-botón">Crédito</div>
          </div>
        </div>
        <div class="col text-center">
          <div class="contenedor-credito-debito">
            <button id="debito" name="debito" class="btn btn-light btn-pago" data-valor="2" data-target="form-debito">
                <img src="{{ url_for('static', filename='img/tarjeta-de-debito.png') }}" alt="debito" />
            </button>
            <div class="text-bajo-botón">Débito</div>
          </div>
        </div>
        <div class="col text-center">
          <div class="contenedor-credito-debito">
            <button id="transferencia" name="transferencia" class="btn btn-light btn-pago" data-valor="3" data-target="detalle_transferencia">
                <img src="{{ url_for('static', filename='img/banco.png') }}" alt="transferencia" />
            </button>
            <div class="text-bajo-botón">Transferencia</div>
          </div>
      </div>
        <div class="col"></div>
    </div>
    <!-- Detalle Pago Crédito -->
    <form id="form-credito" action="/metodo-pago" method="post" style="display: none;">
        <div class="row">
            <div class="col"></div>
            <div class="col-9">
                <div class="form-floating mb-3 pb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="input-titular"
                      pattern="^[A-Za-záéíóúÁÉÍÓÚñÑ\s]+ [A-Za-záéíóúÁÉÍÓÚñÑ\s]+$"
                      placeholder="name@example.com"
                      required
                    />
                    <label for="floatingInput">Titular de tarjeta</label>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-9   ">
                <div class="form-floating pb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="input-numero"
                      maxlength="19"
                      pattern="^\d{4} \d{4} \d{4} \d{4}$"
                      title="Ingresa solo números"
                      placeholder="numeroTarjeta"
                      required
                    />
                    <label for="floatingPassword">Número de tarjeta</label>
                  </div>
            </div>
            <div class="col"></div>
        </div>
      <!-- Fecha de vencimiento -->
      <div class="row pb-4">
        <div class="col"></div>
        <div class="col-3">
          <label for="dia">Día de vencimiento</label>
          <input type="text" class="form-control" id="dia" maxlength="2" pattern="[0-9]+" placeholder="DD" required/>
        </div>
        <div class="col-3">
          <label for="mes">Mes</label>
          <input type="text" class="form-control" id="mes" maxlength="2" pattern="[0-9]+" placeholder="MM" required/>
        </div>
        <div class="col-3">
          <label for="codigo">Código de seguridad</label>
          <input type="text" class="form-control" id="codigo" maxlength="3" pattern="[0-9]+" placeholder="CVV" required/>
        </div>
        <div class="col"></div>
      </div>
      <!-- Detalle pago -->
      <div class="row p-3">
        <div class="col-12 d-flex justify-content-center">
            <div class="card text-center" style="width: 24rem;">
                <div class="card-body">
                    <h4 class="card-title text-center">Detalle Pago</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><p>Total Pendiente: $ <span>{{ session['total'] }} CLP</span></p></p></li>
                        <li class="list-group-item"><p>Pago Reserva (30% del total): $ 
                            <span id="precio_inicial2" name="precio_inicial2">{{ session['precio_inicial'] }}</span> CLP
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col-8">
              <div class="d-grid gap-2 pt-3 pb-3">
                  <button class="btn btn-primary" type="submit">Pagar</button>
              </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </form>
    <!-- Detalle Pago Débito -->
    <form id="form-debito" action="/metodo-pago" method="post" style="display: none;">
      <div class="row">
          <div class="col"></div>
          <div class="col-9">
              <div class="form-floating mb-3 pb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="input-titular"
                    pattern="^[A-Za-záéíóúÁÉÍÓÚñÑ\s]+ [A-Za-záéíóúÁÉÍÓÚñÑ\s]+$"
                    placeholder="name@example.com"
                    required
                  />
                  <label for="floatingInput">Titular de tarjeta</label>
              </div>
          </div>
          <div class="col"></div>
      </div>
      <div class="row">
          <div class="col"></div>
          <div class="col-9   ">
              <div class="form-floating pb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="input-numero"
                    maxlength="19"
                    pattern="^\d{4} \d{4} \d{4} \d{4}$"
                    title="Ingresa solo números"
                    placeholder="numeroTarjeta"
                    required
                  />
                  <label for="floatingPassword">Número de tarjeta</label>
                </div>
          </div>
          <div class="col"></div>
      </div>
    <!-- Detalle pago -->
    <div class="row p-3">
      <div class="col-12 d-flex justify-content-center">
          <div class="card text-center" style="width: 24rem;">
              <div class="card-body">
                  <h4 class="card-title text-center">Detalle Pago</h4>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><p>Total Pendiente: $ <span>{{ session['total'] }} CLP</span></p></p></li>
                      <li class="list-group-item"><p>Pago Reserva (30% del total): $ 
                          <span id="precio_inicial2" name="precio_inicial2">{{ session['precio_inicial'] }}</span> CLP
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="d-grid gap-2 pt-3 pb-3">
                <button class="btn btn-primary" type="submit">Pagar</button>
            </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </form>
    <!-- Caso detalle transferencia -->
    <div id="detalle_transferencia" class="row p-3" style="display: none;">
      <div class="col-12 d-flex justify-content-center">
          <div class="card text-center" style="width: 22rem;">
              <div class="card-body">
                  <h4 class="card-title text-center">Pago transferencia</h4>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><p>Intitución Financiera: Banco de Chile</p></li>
                      <li class="list-group-item"><p>Tipo Cuenta: Cuenta Corriente</p></li>
                      <li class="list-group-item"><p>Rut: 12.345.678-9</p></li>
                      <li class="list-group-item"><p>Email: hotelpacific@gmail.com</p></li>
                      <li class="list-group-item"><p>Total Pendiente: $ <span>{{ session['total']}} CLP</span></p></p></li>
                      <li class="list-group-item"><p>Pago Reserva(30% del total):$ 
                          <span>{{ session['precio_inicial']}} CLP</span> 
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="d-grid gap-2 pt-3 pb-3">
                <button class="btn btn-primary" type="submit">Pagar</button>
            </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('input-numero').addEventListener('input', function (e) {
    const input = e.target;
    const value = input.value.replace(/\s/g, '');

    if (value.length > 0) {
        input.value = value.match(/\d{1,4}/g).join(' ');
    } else {
        input.value = '';
    }
  });
  

  btnCredito = document.getElementById('credito');
  btnDebito = document.getElementById('debito');
  btnTransferencia = document.getElementById('transferencia');
  // Botón Crédito
  document.getElementById('credito').addEventListener('click', function() {
    document.getElementById('form-credito').style.display = 'block';
    document.getElementById('form-debito').style.display = 'none';
    document.getElementById('detalle_transferencia').style.display = 'none';
  });
  document.getElementById('debito').addEventListener('click', function() {
    document.getElementById('form-credito').style.display = 'none';
    document.getElementById('form-debito').style.display = 'block';
    document.getElementById('detalle_transferencia').style.display = 'none';
  });
  document.getElementById('transferencia').addEventListener('click', function() {
    document.getElementById('form-credito').style.display = 'none';
    document.getElementById('form-debito').style.display = 'none';
    document.getElementById('detalle_transferencia').style.display = 'block';
  });

  // Obtener el valor numérico del atributo data-valor utilizando el id
  var idCredito = parseInt(document.getElementById('credito').getAttribute('data-valor'));
  var idDebito = parseInt(document.getElementById('debito').getAttribute('data-valor'));
  var idTransf = parseInt(document.getElementById('transferencia').getAttribute('data-valor'));

  // Guardar los valores en las sesiones
  $.ajax({
    type: "POST",
    url: "/guardar_id_metodo_pago",
    data: JSON.stringify({ 
        idCredito: idCredito,
        idDebito: idDebito,
        idTransf: idTransf
    }),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function (response) {
        // Manejar la respuesta del servidor si es necesario
    },
    error: function (error) {
        console.error("Error en la solicitud AJAX: " + error.responseText);
    }
  });
</script>
{% endblock %}
