{% extends './layout.html' %}

{% block title %}Home{% endblock %}

{% block body%}
<!-- Barra menu -->
<div class="container-fluid">
    <div class="barra-menu row row-cols-auto">
        <div class="col-sm-6 col-md-6 col-12"></div>
        <div class="col text-center">
            <a href="{{ url_for('home') }}">
                <button class="boton">Inicio</button>
            </a>
        </div>
        <div class="col text-center">
            <a href="{{ url_for('lista_reservas') }}">
                <button class="boton">Mis reservas</button>
            </a>
        </div>
        <div class="col text-center">
            <button class="boton">
                <img class="logo" src="{{ url_for('static', filename='img/logo_usuario.png') }}" alt="logo">
                Bienvenido {{ data['nombre'] }}</button>
        </div>
        <div class="col"></div>
    </div>
</div>
<!-- Formulario Pago -->
<form action="" method="post">
    
</form>



{% endblock %}