{% extends './layout.html' %}

{% block title %}Home{% endblock %}

{% block body%}
<!-- Barra menu -->
<div class="container-fluid">
    <div class="barra-menu row">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <img class="logo_home mx-auto" src="{{ url_for('static', filename='img/logo2_hotel.png') }}" alt="logo">
            </div>
            <div class="col-4"></div>
            <div class="btn-grupo col-xs-12 col-sm-12 col-md-12 col-6 text-center">
                <!-- Botones -->
                <div class="col-12 d-flex justify-content-center">
                    <a href="{{ url_for('home') }}">
                        <button class="boton">Inicio</button>
                    </a>
                    <a href="{{ url_for('mis_reservas') }}">
                        <button class="boton">Mis reservas</button>
                    </a>
                    <div class="dropdown">
                        <button class="boton dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="logo" src="{{ url_for('static', filename='img/logo_usuario.png') }}" alt="logo">
                            <small>Bienvenido {{ usuario.nombre_usuario }}</small>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Configuración</a></li>
                            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12"> <!-- Empuja los botones hacia la derecha en dispositivos móviles -->
                    
                </div>
                <div class="col-12"> <!-- Empuja los botones hacia la derecha en dispositivos móviles -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Información de la reserva -->
<div class="container-fluid pt-5">
    <h1 class="titulo_pago_reserva">Pago Reserva</h1>
    <div class="row pb-5">
        <div class="col"></div>
        <div class="contenedor-info1 col-6 pt-5">
            <div class="row">
                <h1>Tus datos</h1>
                <div class="col-6">
                    <div class="form-group">
                        <label for="campo1">Nombre</label>
                        <p type="text" class="form-control" disabled>{{ usuario.nombre_usuario }}</p>
                    </div>
                    <div class="form-group">
                        <label for="campo3">E-mail</label>
                        <p type="text" class="form-control" disabled>{{ usuario.correo_usuario }}</p>
                    </div>
                    <div class="form-group">
                        <label for="campo5">Hora de llegada</label>
                        <p type="text" class="form-control" disabled>15:00 P.M</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="campo2">Apellido</label>
                        <p type="text" class="form-control" disabled>{{ usuario.apellido_usuario }}</p>
                    </div>
                    <div class="form-group">
                        <label for="campo4">Rut</label>
                        <p type="text" class="form-control" disabled>{{ usuario.rut_usuario }}</p>
                    </div>
                    <div class="form-group">
                        <label for="campo6">Teléfono</label>
                        <p type="text" class="form-control" disabled>{{ usuario.telefono_usuario }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
        <!-- Formulario Pago -->
        <div class="contenedor-info2 col-4 pt-5">
            <form action="/pago-reserva" method="post">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Fecha Ingreso: {{ session['fecha_entrada'] }}</li>
                    <li class="list-group-item">Fecha Salida: {{ session['fecha_salida'] }}</li>
                    <li name="precio-inicial" class="list-group-item">Total a pagar (30% de la reserva): $ {{ session['precio_inicial']}} CLP</li>
                    <li class="list-group-item text-center">
                        <a id="btn_metodo_pago" href="/metodo-pago" class="boton btn btn-success text-center">
                            <img class="logo" src="{{ url_for('static', filename='img/tarjeta-de-credito.png') }}" alt="logo">
                            Elige la forma de pago
                        </a>
                    </li>
                  </ul>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

<script>
    document.getElementById('btn_metodo_pago').addEventListener('click', obtenerFechaActual)

    function obtenerFechaActual(){
        // Crear un nuevo objeto Date
        var fechaActual = new Date();
        var fecha = new Date(fechaActual);

        var dia = fechaActual.getDate();
        var mes = fechaActual.getMonth() + 1;
        var año = fechaActual.getFullYear();

        // Formatear los componentes como cadena de texto con el formato deseado
        var fechaFormateada = dia + '-' + mes + '-' + año;

        var fecha = {
            fechaFormateada: fechaFormateada
        };
        // Realizar la solicitud AJAX
        $.ajax({
            type: "POST",
            url: "/guardar_fecha_actual", // Ruta en Flask para guardar los datos en la sesión
            data: JSON.stringify(fecha), // Enviar los datos como JSON
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                
            },
            error: function (error) {
                console.error("Error en la solicitud AJAX: " + error.responseText);
            }
        });
    }
    

</script>




{% endblock %}