{% extends './layout.html' %}

{% block title %}Registro{% endblock %}

{% block body%}

<!-- Barra menu -->
<div class="container-fluid">
    <div class="barra-menu row">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <img class="logo_home mx-auto" src="{{ url_for('static', filename='img/logo2_hotel.png') }}" alt="logo">
            </div>
            <div class="col-4"></div>
            <div class="btn-grupo col-xs-12 col-sm-12 col-md-12 col-6 text-center">
                <!-- Botones -->
                    <div class="col-12"> <!-- Empuja los botones hacia la derecha en dispositivos móviles -->
                        <a href="{{ url_for('index') }}">
                            <button class="boton">Inicio</button>
                        </a>
                        <a href="{{ url_for('habitaciones') }}">
                            <button class="boton">Habitaciones</button>
                        </a>
                        <a href="{{ url_for('login') }}">
                            <button class="boton">Inicio Sesión</button>
                        </a>
                    </div>
                    <div class="col-12"> <!-- Empuja los botones hacia la derecha en dispositivos móviles -->
                    </div>
                    <div class="col-12"> <!-- Empuja los botones hacia la derecha en dispositivos móviles -->
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Formulario registro -->
<div class="container-fluid pt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="formulario">
                <h2 class="titulo-registro">Registro</h2>
                <form id="formularioRegistro" action="/registro" method="post">
                    <!-- Campo rut -->
                    <div class="campo row">
                        <div class="col"></div>
                        <div class="col-8">
                            <label for="rut">Rut:</label>
                            <input id="rut" class="text-center" type="text" name="rut" placeholder="Ingrese su rut:"required>
                        </div>
                        <div class="col"></div>
                        
                    </div>
                    <!-- Campo nombre -->
                    <div class="campo row">
                        <div class="col"></div>
                        <div class="col-8">
                            <label for="firstname">Nombre:</label>
                            <input id="nombre" class="text-center" type="text" name="nombre" placeholder="Ingrese su nombre:" required>
                        </div>
                        
                        <div class="col"></div>
                    </div>
                    <!-- Campo apellido -->
                    <div class="campo row">
                        <div class="col"></div>
                        <div class="col-8">
                            <label for="lastname">Apellido:</label>
                            <input id="apellido" class="text-center" type="text" name="apellido" placeholder="Ingrese su apellido:" required>
                        </div>
                        <div class="col"></div>
                    </div>
                    <!-- Campo telefono -->
                    <div class="campo row">
                        <div class="col"></div>
                        <div class="col-8">
                            <label for="phone">Telefono:</label>
                            <input id="telefono" class="text-center" type="text" name="telefono" placeholder="Ingrese su telefono:" required>
                        </div>
                        <div class="col"></div>
                    </div>
                    <!-- Campo e-mail -->
                    <div class="campo row">
                        <div class="col"></div>
                        <div class="col-8">
                            <label for="email">E-mail:</label>
                            <input id="email" class="text-center" type="text" name="email" placeholder="Ingrese su e-mail:" required>
                        </div>
                        
                        <div class="col"></div>
                    </div>
                    <!-- Campo contraseña -->
                    <div class="campo row">
                        <div class="col"></div>
                        <div class="col-8">
                            <label for="password">Contraseña:</label>
                            <input id="password" class="text-center" type="password" name="password" placeholder="Ingrese su contraseña:" required>
                        </div>
                        
                        <div class="col"></div>
                    </div>
                    <!-- Campo confirmar contraseña -->
                    <div class="campo row">
                        <div class="col"></div>
                        <div class="col-8">
                            <label for="password">Confirme contraseña:</label>
                            <input id="password2" class="text-center" type="password" name="password2" placeholder="Reingrese contraseña:" required>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-8">
                            <div class="d-grid gap-2 pt-3">
                                <button class="btn btn-primary" type="submit">Registrarse</button>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtener el formulario por su ID
        var formulario = document.getElementById('formularioRegistro');

        // Agregar un evento de escucha para el envío del formulario
        formulario.addEventListener('submit', function (event) {

            // Obtener los valores de los campos del formulario
            var rut = document.getElementById('rut').value;
            var nombre = document.getElementById('nombre').value;
            var apellido = document.getElementById('apellido').value;
            var telefono = document.getElementById('telefono').value;
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var password2 = document.getElementById('password2').value;

            // Guardar los campos en el localStorage
            localStorage.setItem('rut', rut);
            localStorage.setItem('nombre', nombre);
            localStorage.setItem('apellido', apellido);
            localStorage.setItem('telefono', telefono);
            localStorage.setItem('email', email);
        });
    });
</script>

{% endblock %}