{% extends './layout.html' %}

{% block title %}Home{% endblock %}

{% block body%}
<!-- Barra menu -->
<div class="container-fluid">
    <div class="barra-menu row">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <img class="logo_home mx-auto" src="{{ url_for('static', filename='img/logo2_hotel.png') }}" alt="logo">
            </div>
            <div class="col-4"></div>
            <div class="btn-grupo col-xs-12 col-sm-12 col-md-12 col-6 text-center">
                <!-- Botones -->
                <div class="col-12 d-flex justify-content-center">
                    <a href="{{ url_for('home') }}">
                        <button class="boton">Inicio</button>
                    </a>
                    <a href="{{ url_for('mis_reservas') }}">
                        <button class="boton">Mis reservas</button>
                    </a>
                    <div class="dropdown">
                        <button class="boton dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="logo" src="{{ url_for('static', filename='img/logo_usuario.png') }}" alt="logo">
                            <small id="nombre"></small>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Configuración</a></li>
                            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Información de la reserva -->
<div class="container-fluid pt-5">
    <h1 class="titulo_pago_reserva">Reserva Exitosa</h1>
    <div class="row">
        <div class="col"></div>
        <div class="contenedor-qr col-5 pt-5">
            <img class="qr-logo"src="{{ url_for('static', filename='img/qr.png') }}" alt="logo">
        </div>
        <!-- Formulario Pago -->
        <div class="col"></div>
        <div class="contenedor-info2 col-6 pt-5 text-center">
            <div class="row">
                <div class="col"></div>
                <div id="email" class="col-6">
                </div>
                <div class="col"></div>
                <div class="row pt-5">
                    <div class="col"></div>
                    <div class="col-6">
                        <p>Descarga el código a continuación:</p>
                        <button class="btn btn-primary" type="submit">
                            <img class="logo_descarga" src="{{ url_for('static', filename='img/icono-descarga.png') }}" alt="logo">
                        </button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row pt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="d-grid gap-2 pt-3">
                <a class="btn btn-primary" href="/home">
                    Volver al inicio
                </a>
                
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
    
</form>


<script>
    var nombre = localStorage.getItem('nombre');
    var email = localStorage.getItem('email');
    if(email != null){
        document.getElementById('email').textContent = 'Hemos enviado un código QR a tu correo ' + email + ', debes mostrarlo el día del chek-in.';
        document.getElementById('nombre').textContent = 'Bienvenido ' + nombre;
    }
</script>



{% endblock %}