{% extends './layout.html' %}

{% block title %}Reserva{% endblock %}

{% block body%}
<!-- Barra menu -->
<div class="container-fluid">
    <div class="barra-menu row row-cols-auto">
        <div class="col-sm-6 col-md-6 col-12"></div>
        <div class="col text-center">
            <a href="{{ url_for('home') }}">
                <button class="boton">Inicio</button>
            </a>
        </div>
        <div class="col text-center">
            <a href="{{ url_for('lista_reservas') }}">
                <button class="boton">Mis reservas</button>
            </a>
        </div>
        <div class="col text-center">
            <button class="boton">
                <img class="logo" src="{{ url_for('static', filename='img/logo_usuario.png') }}" alt="logo">
                Bienvenido {{ data['nombre'] }}</button>
        </div>
        <div class="col"></div>
    </div>
</div>

<!-- Contenido Formulario de Reserva -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="titulo-reserva text-center">Reserva</h1>
        </div>
    </div>
    <!-- Formulario de reserva -->
    <div class="container">
        <form id="reserva_form" action="/pago" method="post">
            <div class="form-group pt-3">
                <!-- Input Fecha Ingreso -->
                <label for="fecha_ingreso">Seleccione fecha llegada:</label>
                <div class="input-group date" id="datetimepicker_ingreso" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_ingreso" id="fecha_ingreso" required/>
                    <div class="input-group-append" data-target="#datetimepicker_ingreso" data-toggle="datetimepicker">
                        <div class="input-group-text">
                            <img class="calendar" src="{{ url_for('static', filename='img/calendar.png') }}">
                        </div>
                    </div>
                </div>
                <!-- Input Fecha Salida -->
                <label class="pt-3" for="fecha_salida">Seleccione fecha salida:</label>
                <div class="input-group date" id="datetimepicker_salida" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_salida" id="fecha_salida" required/>
                    <div class="input-group-append" data-target="#datetimepicker_salida" data-toggle="datetimepicker">
                        <div class="input-group-text">
                            <img class="calendar" src="{{ url_for('static', filename='img/calendar.png') }}">
                        </div>
                    </div>
                </div>
    
                <!-- Input cantidad de huéspedes -->
                <div class="input-huespedes">
                    <label for="fecha">Ingrese cantidad de huéspedes:</label>
                    <select class="form-select" id="cantidad_huespedes" name="cantidad_huespedes" aria-label="Default select example" required>
                        <option value="" selected disabled>Seleccione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
                
            </div>
            <!-- Habitación Standard Matrimonial -->
            <div class="card_container row">
                <div class="col-12">
                    <div class="card mb-3" style="width: 100%;">
                        <div class="row g-0">
                            <div class="img-card col-md-6">
                                <img src="{{ url_for('static', filename='img/standard_matrimonial.jpg')}}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="barra-titulo-card">
                                                <h4 class="card-title text-center">Standard Matrimonial</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="card-title pt-3 text-center">1 Cama King Size - 1 Baño</h5>
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col-8">
                                            <h5 class="card-title pt-3">Contiene: </h5>
                                            <ol class="list-group text-center">
                                                <li class="list-group-item">No fumadores</li>
                                                <li class="list-group-item">Conexión inalámbrica a internet</li>
                                                <li class="list-group-item">Ropa de cama y toallas</li>
                                            </ol>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="row text-center pt-3">
                                        <div class="col">
                                            <a class="card-text pt-3" href="{{ url_for('habitaciones')}}">
                                                <small class="text-body-secondary">Más información</small>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col-8">
                                            <div class="d-grid gap-2 pt-3">
                                                <button id="btn_seleccionar" class="btn btn-primary" type="submit">Seleccionar</button>
                                            </div>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Habitacion Standard Twin -->
            <div class="card_container row">
                <div class="col-12">
                    <div class="card mb-3" style="width: 100%;">
                        <div class="row">
                            <div class="img-card col-md-6">
                                <img src="{{ url_for('static', filename='img/camas-individuales.jpg')}}" class="img-card img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="barra-titulo-card">
                                                <h4 class="card-title text-center">Standard Twin</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="card-title pt-3 text-center">2 Camas individuales - 1 Baño</h5>
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col-8">
                                            <h5 class="card-title pt-3">Contiene: </h5>
                                            <ol class="list-group text-center">
                                                <li class="list-group-item">Vista al lago</li>
                                                <li class="list-group-item">No fumadores</li>
                                                <li class="list-group-item">Conexión inalámbrica a internet</li>
                                                <li class="list-group-item">Baño</li>
                                            </ol>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="row text-center pt-3">
                                        <div class="col">
                                            <a class="card-text pt-3" href="{{ url_for('habitaciones') }}">
                                                <small class="text-body-secondary">Más información</small>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col-8">
                                            <div class="d-grid gap-2 pt-3">
                                                <button id="btn_seleccionar2" class="btn btn-primary" type="submit">Seleccionar</button>
                                            </div>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Caso Detalle Reserva para Standard Matrimonial -->
                <div id="detalle_reserva" class="row" style="display: none;">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Detalle Reserva</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><p>Noches de estadía: <span id="noches_estadia">0</span> días</p></li>
                                <li class="list-group-item"><p>Total: <span id="precio_matrimonial">0</span></p></p></li>
                                <li class="list-group-item"><p>Pago Reserva(30% del total):$ <span id="precio_inicial">0</span></p></p></li>
                                <li class="list-group-item">And a fifth one</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-8">
                            <div class="d-grid gap-2 pt-3 pb-3">
                                <button class="btn btn-primary" type="submit">Reservar</button>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <!-- Caso Detalle Reserva para Standard Twin -->
                <div id="detalle_reserva2" class="row p-3" style="display: none;">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-body">
                                <div class="barra-titulo-card">
                                    <h4 class="card-title text-center">Detalle Reserva</h4>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><p>Noches de estadía: <span id="noches_estadia">0</span> días</p></li>
                                    <li class="list-group-item"><p>Total: $ <span id="precio_individual">0</span> CLP</p></p></li>
                                    <li class="list-group-item"><p>Pago Reserva(30% del total):$ <span id="precio_inicial">0</span> CLP</p></p></li>
                                    <li class="list-group-item">A fourth item</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-8">
                            <div class="d-grid gap-2 pt-3 pb-3">
                                <button class="btn btn-primary" type="submit">Reservar</button>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>


<script>
    var fechaIngreso = document.getElementById('fecha_ingreso');
    var fechaSalida = document.getElementById('fecha_salida');
    
    // Obtener el elemento donde se mostrará el número de noches de estadía
    var nochesEstadia = document.getElementById('noches_estadia');
    var btnSeleccionar = document.getElementById('btn_seleccionar');
    var btnSeleccionar2 = document.getElementById('btn_seleccionar2');
    
    // Escuchar el evento de cambio en los campos de entrada de fecha
    fechaIngreso.addEventListener('input', actualizarNochesEstadia);
    fechaSalida.addEventListener('input', actualizarNochesEstadia);

    btnSeleccionar.addEventListener('click', calcularNochesEstadia);
    btnSeleccionar2.addEventListener('click', calcularNochesEstadia);

    $('#datetimepicker_ingreso').datetimepicker({
        format: 'DD-MM-YYYY',
        minDate: moment().startOf('day') // Establecer el mínimo a la fecha actual
    });

    $('#datetimepicker_salida').datetimepicker({
        format: 'DD-MM-YYYY',
        minDate: moment().startOf('day') // Establecer el mínimo a la fecha actual
    });

    document.getElementById('reserva_form').addEventListener('submit', function(event) {
        event.preventDefault(); // Evitar el envío del formulario por defecto
        
        // Obtener los valores de las fechas y la cantidad de huéspedes
        var fechaIngreso = document.getElementById('fecha_ingreso').value;
        var fechaSalida = document.getElementById('fecha_salida').value;
        var cantidadHuespedes = document.getElementById('cantidad_huespedes').value;

        // Validar si se han ingresado las fechas y la cantidad de huéspedes
        if (fechaIngreso && fechaSalida && cantidadHuespedes) {
            if(btnSeleccionar){
                document.getElementById('detalle_reserva').style.display = 'block';
            } else {
                document.getElementById('detalle_reserva2').style.display = 'block';
            }
            
        } else {
            
        }
    });

    function calcularNochesEstadia() {
        console.log('Llegue a método calcularNochesEstadia')
        var fechaIngresoValue = fechaIngreso.value;
        var fechaSalidaValue = fechaSalida.value;
        var precio_noche_matrimonial = 100000;
        var precio_noche_individual = 80000;
        var totalPrecioIndividual = document.getElementById('precio_individual');
        var totalPrecioMatrimonial = document.getElementById('precio_matrimonial');
        var totalPrecioInicial = document.getElementById('precio_inicial');
        var precioUnitario = 0; // Inicializamos el precio unitario en 0

        if (fechaIngresoValue && fechaSalidaValue) {
            // Separar las partes de la fecha
            var fechaIngresoParts = fechaIngresoValue.split('-');
            var fechaSalidaParts = fechaSalidaValue.split('-');

            // Crear objetos Date
            var fechaIngresoDate = new Date(fechaIngresoParts[2], fechaIngresoParts[1] - 1, fechaIngresoParts[0]);
            var fechaSalidaDate = new Date(fechaSalidaParts[2], fechaSalidaParts[1] - 1, fechaSalidaParts[0]);

            // Calcular la diferencia en milisegundos
            var diferencia = fechaSalidaDate - fechaIngresoDate;

            // Calcular el número de noches (dividiendo la diferencia entre milisegundos en días)
            var noches = Math.floor(diferencia / (1000 * 60 * 60 * 24));

            // Verificar cuál botón se ha clicado y establecer el precio unitario correspondiente
            if (btnSeleccionar.id === 'btn_seleccionar') {
                precioUnitario = precio_noche_matrimonial;
                // Calcular 30% del total
                precioInicial = precioUnitario*0.3;
                // Calcular el total
                totalPrecioMatrimonial.textContent = '$ ' + (noches * precioUnitario).toFixed(0) + ' CLP';
                totalPrecioIndividual.textContent = ''; // Dejar el total para la habitación individual en blanco
                totalPrecioInicial.textContent = '$ ' + (noches * precioUnitario*0.3).toFixed(0) + ' CLP';
            } else if (btnSeleccionar2.id === 'btn_seleccionar2') {
                precioUnitario = precio_noche_individual;
                // Calcular 30% del total
                precioInicial = precioUnitario*0.3;
                // Calcular el total
                totalPrecioIndividual.textContent = '$ ' + (noches * precioUnitario).toFixed(0) + ' CLP';
                totalPrecioMatrimonial.textContent = ''; // Dejar el total para la habitación matrimonial en blanco
                totalPrecioInicial.textContent = '$ ' + (noches * precioUnitario*0.3).toFixed(0) + ' CLP';
            }

            // Actualizar los elementos HTML con los valores calculados
            nochesEstadia.textContent = noches;
        } else {
            nochesEstadia.textContent = '0';
        }
    }

    // Función para actualizar el número de noches de estadía en tiempo real
    function actualizarNochesEstadia() {
        calcularNochesEstadia();
        
    }
</script>


{% endblock %}